[submodule "pokedex/node_modules/.cache/gh-pages/https!github.com!lindsaymei!pokepages"]
    path = pokedex/node_modules/.cache/gh-pages/https!github.com!lindsaymei!pokepages
    url = git://github.com/lindsaymei/pokepages.git    